* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Kanit;
}
@font-face {
  font-family: "Kanit";
  src: url("/fonts/Kanit-Regular.ttf");
  src: url("/fonts/Kanit-Bold.ttf");
  src: url("/fonts/Kanit-Light.ttf");
}

/* Header */
.logo-brand a {
  color: #ffffff !important;
  /* font-size: 36px; */
  text-decoration: none !important;
}
.logo-brand a:hover {
  color: rgb(255, 255, 255, 0.5) !important;
}
.header-position {
  position: fixed;
  z-index: 100;
  width: 100vw;
}
.bg-header {
  background-color: rgba(0, 0, 0, 0.9);
}
.navbar-light a.navbar-brand {
  color: rgb(255, 255, 255);
  font-size: 32px;
}
.navbar-light a.navbar-brand:hover {
  color: rgb(255, 255, 255, 0.5);
  font-size: 32px;
}
.navbar-light .navbar-nav a.nav-link {
  color: rgba(255, 255, 255);
}
.navbar-light .navbar-nav a.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
}
.burger-button {
  background-color: rgba(255, 255, 255, 0) !important;
  border-color: rgba(255, 255, 255, 0) !important;
  box-shadow: none !important;
}
.burger-icon {
  font-size: 32px;
}
@media only screen and (min-width: 768px) {
  .logo-brand a {
    font-size: 40px;
  }
  .bg-header {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .navbar-light .navbar-nav a.nav-link {
    margin: 0 10px;
  }
  .burger-button {
    display: none !important;
  }
}

/* Footer */
.bt-contact{
  width: 200px;
  text-align: center;
  border: 2px solid #ffffff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50px;
  padding: 15px 0;
  cursor: pointer;
}
.bt-contact:hover{
  background: rgba(155, 155, 155, 0.5);
  transition: 0.3s;
}


/* .footer h2 {
  display: inline-block;
  border: 3px solid #ffffff;
  border-radius: 50px;
  font-size: 24px;
  margin-top: 40px;
  color: #ffffff;
  cursor: pointer;
} */
.bt-footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/img-f01.jpg");
  background-position: center;
  background-size: cover;
  display: grid;
  align-items: center;
  padding: 10px 0;
}
.footer p {
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
  margin-bottom: 0px;
}
.footer h2:hover {
  display: inline-block;
  border: 3px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.5);
  color: rgba(0, 234, 255, 0.75);
  transition: 0.3s;
}
.bt-text {
  color: rgb(255, 255, 255) !important;
  /* font-weight: 900; */
}

/* -- */
.scale-img {
  width: 100vw;
  height: 50vh;
}
@media only screen and (min-width: 768px) {
  .scale-img {
    width: 100vw;
    height: 80vh;
  }

  /* page-sub-margin-padding */
}
.scale-page-sub {
  padding-top: 100px;
  padding-bottom: 100px;
}
.scale-page-about {
  padding-top: 100px;
  margin-bottom: 100px;
}


.scale-page-contact {
  margin-bottom: 10px;
  border: 2px solid rgba(151, 151, 151, 0.5);
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(235, 235, 235, 0.808);
}
.bg-serv{
  background-image: url("/images/bg-tree.jpg");
  background-position: center;
  background-size: cover;
}
.bg-prod{
  background-image: url("/images/bg-pr.jpg");
  background-position: center;
  background-size: cover;
}

.bg-about-page{
  background-image: url("/images/bg-da.jpg");
  background-position: center;
  background-size: cover;

}
@media only screen and (min-width: 768px) {
  .bg-about-page{
    height: 82vh;
  }
}

.bg-mail{
  background-image: url("/images/bg-mak.jpg");
  background-position: center;
  background-size: cover;
}
/* page-home */

/* ShowCard */
.bt-card {
  padding: 50px 0;
}


/* AboutUs */
.bg-aboutus-noparallax {
  margin: 20px;
  background: rgba(112, 112, 112, 0.575);
  /* position: absolute; */
  padding: 20px;
  border-radius: 20px;
}
.head-aboutus {
  /* margin: 20px auto; */
  /* width: 200px; */
  text-align: center;
  border: 2px solid #ffffff;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  padding: 15px 40px;
  margin: 10px 0;
}
.head-aboutus:hover {
  background: rgba(155, 155, 155, 0.5);
  transition: 0.3s;
}
/* ProductUs */

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: rgba(255, 255, 255, 0.3) !important;
}

.list-group-item {
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: #ffffff ;
    border: 1px solid rgba(255, 255, 255, 0.125) !important;
    cursor: pointer;
}
.list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.5) !important;


}

.card-cuttom-product .card {
  border: 0;
  background-color: rgba(211, 211, 211, 0.5);
  color: rgb(56, 56, 56);
}
.nav-tabs .nav-link {
  cursor: pointer;
}
.btn-menu .btn-secondary {
  padding: 0 15px;
  width: 160px;
  color: #fff;
  background-color: #d1d1d183 !important;
  border: 1px solid #ffffff;
  height: 40px;
}
.btn-menu .btn-secondary:hover {
  background-color: #d1d1d1dc !important;
}

.dropdown-item {
  background-color: #d3d3d3 !important;
}
/* page-product */
@media only screen and (max-width: 768px) {
  .menuswither {
    display: none !important;
  }
}
@media only screen and (min-width: 768px) {
  .menuswith {
    display: none !important;
  }
}

.menu-product {
  margin-bottom: 30px;
}
/* PaginationPage */
.pagination {
  display: grid;
  justify-content: center;
  margin-top: 20px;
}

.blink-text {
  /* text-decoration:blink; */
  color: #000000;
  animation: blinker 2s linear infinite;
  cursor: pointer;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
/* page-about */

/* page-contact */

/* admin */
.bg-admin{
  /* background:-webkit-linear-gradient(left,rgba(255,0,0,0),rgb(0, 0, 0)) ; */
  background-image: url("/images/bg-login.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh; 
  align-items: center;
}
.ant-card {
  background: rgba(255, 255, 255, 0.5) !important;
}
.admin-logo{
  padding: 10px 0 0 0;
  /* text-align: center; */
}
.admin-menu{
  background-color: rgb(52,58,64);
  color: rgb(167,199,208);
}
.admin-content{
  background-color: rgb(244,246,249);
}
.admin-hr {
  height: 1px;
  color: rgb(167,199,208);
  background:rgb(167,199,208);
  font-size: 0;
  border: 0;
}
.admin-hr:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.ant-layout-header {
  background: #ffffff !important;
}

/* ---admin--- */
